<h1>Pages</h1>
<%= link_to "New Page", new_page_path%>
<% @pages.each do |page| %>
  <h2><%= page.title%></h2>
  <%# <a href='/'> %>
  <%= link_to 'Show Page', page_path(page)%>
  <% link_to 'Edit page', edit_page_path(page)%>
  <% link_to 'Delete page', page_path(page), method: :delete%>

  <%# <a href="/pages/1">Show Page</a> %>
<% end %>